.green {
  border: 1px solid green
}

.red {
  border: 1px solid red
}

.fe02-container {
  width: 100vw;
  height: 585px;
  padding: 0 11vw;

  .fe02-container__wpb {
    width: 100%;
    height: 100%;

    .fe02-container__wpb__inner {
      padding: 0 10px;
      height: 100%;

      .fe02-wpb__wrapper {
        width: 100%;

        .fe02-textcenter {
          padding-top: 55px;
          height: 121px;

          h2 {
            font-size: 24px;
            margin-bottom: 10px;
            text-align: center;
            font-weight: 500;
            justify-content: center;
          }

          h3 {
            font-size: 16px;
            margin-bottom: 20px;
            text-align: center;
            font-weight: 300;
            justify-content: center;
          }
        }

        .fe02-emptyspace {
          height: 32px;
        }
      }
    }
  }
}